/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: #fff;
}

.countries {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:2rem;
    margin-top: 30px;
    transition: all 8.5s;
}

.countries:hover {
    cursor: pointer;
}

.grid {
    transition: all 8.5s; 
}

.grid:hover {
    transform: scale(20) skew(-20deg);
    /* transform: rotate(-360deg); */
}

.grid img{
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

