/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: grey;
}

.countries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-attachment: fixed;
    margin-top: 30px;
    transition: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
}

